<h3>Create Video</h3>

<form name="dialog.createForm" ng-submit="dialog.submit()" novalidate>
    <div class="row">
        <div class="small-12 columns">
            <label ng-class="{'error': dialog.hasError(dialog.createForm.videoTitle)}">
                Title
                <input type="text" name="videoTitle" ng-model="dialog.video.title" ng-disabled="dialog.createForm.$pending" required />
            </label>

            <div ng-if="dialog.interacted(dialog.createForm.videoTitle)"
                 ng-messages="dialog.createForm.videoTitle.$error"
                 ng-messages-multiple>
                <small class="error" ng-message="required">
                    The video title is required
                </small>
            </div>
        </div>
        <div class="small-12 columns">
            <label ng-class="{'error': dialog.hasError(dialog.createForm.videoLength)}">
                Length
                <input type="text" name="videoLength" ng-model="dialog.video.length" placeholder="hh:mm:ss" ng-disabled="dialog.createForm.$pending" required />
            </label>

            <div ng-if="dialog.interacted(dialog.createForm.videoLength)"
                 ng-messages="dialog.createForm.videoLength.$error"
                 ng-messages-multiple>
                <small class="error" ng-message="required">
                    The video length is required
                </small>
            </div>
        </div>
        <div class="small-12 columns">
            <button class="right success" type="submit" ng-disabled="dialog.createForm.$pending">
                <span ng-hide="dialog.createForm.$pending">Save</span>
                <span ng-show="dialog.createForm.$pending">Saving ...</span>
            </button>
        </div>
    </div>
</form>


<a class="close-reveal-modal" ng-click="dialog.cancel()">&#215;</a>
