<div class="row" cg-busy="user.loadingPromise">
    <div class="small-12 columns">
        <h3>{{user.user.fullName()}}'s Profile:</h3>
        <form name="user.userForm" ng-submit="user.update()" novalidate>
            <div class="row">
                <div class="small-6 columns">
                    <label ng-class="{'error': user.hasError(user.userForm.userFirstName)}">
                        First Name
                        <input type="text" name="userFirstName" ng-model="user.user.first_name" ng-disabled="user.userForm.$pending" required />
                    </label>

                    <div ng-if="user.interacted(user.userForm.userFirstName)"
                         ng-messages="user.userForm.userFirstName.$error"
                         ng-messages-multiple>
                        <small class="error" ng-message="required">
                            The video title is required
                        </small>
                    </div>
                </div>

                <div class="small-6 columns">
                    <label ng-class="{'error': user.hasError(user.userForm.userLastName)}">
                        Last Name
                        <input type="text" name="userLastName" ng-model="user.user.last_name" ng-disabled="user.userForm.$pending" required />
                    </label>

                    <div ng-if="user.interacted(user.userForm.userLastName)"
                         ng-messages="user.userForm.userLastName.$error"
                         ng-messages-multiple>
                        <small class="error" ng-message="required">
                            The video title is required
                        </small>
                    </div>
                </div>

                <div class="small-12 columns">
                    <label ng-class="{'error': user.hasError(user.userForm.userAge)}">
                        Age
                        <input type="number" min="18" max="99" name="userAge" ng-model="user.user.age" ng-disabled="user.userForm.$pending" required />
                    </label>

                    <div ng-if="user.interacted(user.userForm.userAge)"
                         ng-messages="user.userForm.userAge.$error"
                         ng-messages-multiple>
                        <small class="error" ng-message="required">
                            The video title is required
                        </small>
                    </div>
                </div>

                <div class="small-12 columns">
                    <label ng-class="{'error': user.hasError(user.userForm.userEmail)}">
                        Email
                        <input type="email" name="userEmail" ng-model="user.user.email" ng-disabled="user.userForm.$pending" required />
                    </label>

                    <div ng-if="user.interacted(user.userForm.userEmail)"
                         ng-messages="user.userForm.userEmail.$error"
                         ng-messages-multiple>
                        <small class="error" ng-message="required">
                            The video title is required
                        </small>
                    </div>
                </div>

                <div class="small-12 columns">
                    <label>
                        Company
                        <input type="text" name="userCompany" ng-model="user.user.company" ng-disabled="user.userForm.$pending" />
                    </label>
                </div>

                <div class="small-12 columns">
                    <a class="left" ui-sref="parent.users.list">Back to list</a>

                    <button class="right success" type="submit" ng-disabled="user.userForm.$pending">
                        <span ng-hide="user.userForm.$pending">Save</span>
                        <span ng-show="user.userForm.$pending">Saving ...</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
