<div class="row">

    <div class="small-12 medium-9 columns">
        <ul class="small-block-grid-2">
            <li ng-repeat="user in users.users">
                <h4><a ui-sref="users, {id: users.id}">{{user.first_name}}</a></h4>
                <p>{{user.email}}</p>
            </li>
        </ul>
    </div>

    <div class="small-12 medium-3 columns">
        <ul class="side-nav">
            <li>
                <button ng-click="users.create()">Create</button>
            </li>
        </ul>
    </div>
</div>
